
.bundle
.byebug_history

config/initializers/00_s3.rb
/config/master.key

/db/*.sqlite3
/db/*.sqlite3-*

.env*

/log/*
!/log/.keep
/test/dummy/log/*
!/test/dummy/log/.keep

/node_modules

/public/assets
/public/packs
/public/packs-test

/storage/*
!/storage/.keep


/tmp/*
!/tmp/.keep
/test/dummy/tmp/*
!/test/dummy/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/test/dummy/tmp/pids/*
!/test/dummy/tmp/pids/.keep
*trash

/yarn-error.log
yarn-debug.log*
.yarn-integrity

vendor

w
