
.serverhosts-index
  %h5 Serverhosts
  %ul
    - @serverhosts.each do |s|
      %li.flex-row
        .gray= s.id
        &nbsp;&nbsp;
        = link_to "[view]", edit_serverhost_path(s)
        &nbsp;
        = s.name

