
.domains-index.maxwidth
  %h5 Domains

  %table.bordered
    %thead
      %td &nbsp;
      %td name
      %td status
      -# %td &nbsp;

    - @domains.each do |dom|
      %tr
        %td
          = link_to '[~]', edit_domain_path(dom)
        %td
          = link_to dom.name, domain_path(dom)
        %td= dom.status
        -# %td= dom.inspect
